*{
	margin: 0px;
	padding: 0px;
}
h1{
	font bold 20px tahoma;
}
h2{
	font bold 16px tahoma;
}		
header,nav,section,footer,hgroup,article{
	display:block;
}
body{
	text-align:center;
}
#big_wrapper{
	border: 2px solid black;
	width: 1000px;
	margin: 20px auto;
	text-align:left;
}     
#top_header{
	background:yellow;
	border:2px solid blue;
	padding:20px;
	color:red;
}
#top_menu{
	background:blue;
	color:white;
}
#top_menu li{
	display:inline-block;s
	list_style:none;
	font bold 14px tahoma;
	padding:5px;
}
#main_section{
	float:left; 
	width:660px;
	margin:30px;/*720px,280px left*/
}
#side_news{
	float:left;
	width:220px;
	margin:20px 0px;
	padding:30px;
	background: #66CCCC;
	
}
#the_footer{
	clear:both;
	text-align:center;
	padding:20px;
	border-top:2px solid green;
}
article{
	background: #FFFBCC;
	border:1px solid red;
	padding:20px;
	margin-bottom:15px;
}
article footer{
	text-align:right;
}